language: python

python:
  - 3.8

install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install coverage

before_script:
  - python manage.py migrate

script:
  - python -m black . --check
  - python -m flake8 . --ignore=E503,W291,F401,E501,W503,E231,W605,W293,E265 --max-line-length=90
  - python -m coverage run --source='.' manage.py test

after_script:
  - coveralls

after_success:
  coveralls

deploy:
  - provider: elasticbeanstalk
    access_key_id: $ACCESSKEYID
    secret_access_key: $SECRETACCESSKEY
    region: 'us-west-2'
    app: 'nycbasics-prod'
    env: 'Nycbasicsprod-env'
    bucket_name: 'elasticbeanstalk-us-east-1-529645924119'
    on:
      all_branches: true