option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache 
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    REACT_APP_GOOGLE_MAPS_API_KEY: "$REACT_APP_GOOGLE_MAPS_API_KEY"