.app {
  text-align: center;
}

.google-map-container {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color :#ffffff;

}

form {
  display: block;
  position: relative;
}

/*form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: 1;
  background-image: linear-gradient( to bottom right #FFCE00, #FE4880);

}*/

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
